.deps
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bootstrap
config.guess
config.log
config.status
config.sub
configure
depcomp
filesystem_remap.lo
filesystem_remap.o
install-sh
lcmaps_mount_under_scratch.lo
lcmaps_mount_under_scratch.o
liblcmaps_mount_under_scratch.la
libtool
ltmain.sh
missing
mount_under_scratch.lo
mount_under_scratch.o
src/config.h
src/config.h.in
src/config.h.in~
src/stamp-h1
